/* Variables */
$font-text-header: 'Signika', sans-serif;
$font-text: 'Inconsolata', monospace;
$color-one:#0097e6;
$color-two:#33d9b2;
$color-three:#ff5252;
$text-light:#ffffff;
$text-dark:#2c2c54;
$transition: all 1s;

/* Global */

*, *::before, *::after {
	box-sizing: border-box;
}
body {
    margin: 0;
    color:$text-dark;
    font-size:16px;
    line-height: 1.7; /*Interlinia*/
    font-family: $font-text;
}
.container {
    max-width: 1140px;
    margin: 0 auto; /*Centrowanie w poziomie razemz  max width*/
    padding: 0 20px;
}
section {
    padding-top: 76px;
}


.top {
    background-image: url("/images/backgroung.jpeg");
    background-size:cover;
}
.btn {
    display: inline-block;
    min-width: 160px;
    min-width: 260px;
    margin: 24px auto 0 auto;
    padding: 16px;
    border-radius: 5px;
    font-family: $font-text;
    font-size: 24px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-width: 2px;
    border-style: solid;
    background-position: 100% 0;
    background-size: 300%;
    transition:$transition;
}
.btn-one {
    border-color: #fed136;
    color:$text-light ;
    background-color: #fed136;
    font-weight: 600;
}
/* Navigation */
.navigation {
    padding-bottom: 12px;
}
.navigation ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.navigation li {
    display: inline-block;
    position: relative;
    margin-right: 36px;
}
.navigation a {
    text-decoration: none;
    color:$text-light;
}

/*Logo*/
.logo {
    color:#fed136;
    font-size: 24px;
    font-style: italic;

}

/*Splash*/

.splash {
    color: $text-light;
    display: flex;
    min-height: 600px; 
    align-items: center;
    justify-content: center;
    text-align: center;
}
.splash-inner {
    margin: auto;
    max-width: 70%;
}
.page-title {
    margin: auto 0;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.2;
    font-style: italic;

}
.page-subtitle {
    margin: 24px 0;
    font-size: 60px;
    font-weight: 600;
}

/*Service*/
.services {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.section-title {
    position: relative;
    font-size: 48px;
    margin: auto 0px;    
}
.section-subtitle{
    font-size: 14px;
    margin: 0 0 72px 0;
}
.boxes {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.box-services {
    flex: 0 0 33.333%;
    
}
.box-subtitle {
    font-size: 24px;
    margin: 0 0 12px 0;
    font-weight: bold;
 }
 .box-services i {
    position: relative;
    font-size: 30px;
    color:$text-light;
    background: $color-three;    
    width: 60px;
    height: 60px;
    line-height: 65px;
    border-radius: 50%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}